.content {
	height: 100%;
	min-height: 1440px;
	background: #d9d9d9;
	padding: 64px 35px 28px 35px;

	&__buttonGroup {
		margin: 43px 0;
		display: flex;
	}
}

@media (max-width: 1140px) {
	.content {
		button {
			font-size: 22px;
		}
	}
	.createButton {
		button {
			max-width: 368px;
			width: 100%;
		}
	}
}

@media (max-width: 890px) {
	.content {
		button {
			font-size: 16px;
			height: 50px;
		}
	}
}
