.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal__container {
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 50;
	width: 621px;
	height: auto;
	padding: 21px 23px 18px 27px;
	box-shadow: 4px 4px 4px 0px #00000040;
	overflow-y: auto;
	max-height: 80vh;
}

.modal__header {
	margin-bottom: 25px;
}
