.commentsList {
  width: 1131px;
  height: 432px;
  background: #d9d9d9;
  padding: 23px 31px 23px 30px;

  &__list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 386px;

    &::-webkit-scrollbar {
      width: 19px;
      height: 384px;
    }

    &::-webkit-scrollbar-track {
      background: #cecece; // Цвет фона трека скролл-бара
    }

    &::-webkit-scrollbar-thumb {
      background: #979797; // Цвет ползунка
    }
  }

  &__item {
    width: 1069px;
    height: 65.83px;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    background: #f4f4f4;
    text-align: left;
    padding-left: 24px;
    padding-right: 21px;
    padding-top: 18px;
    margin-bottom: 6px;
    margin-right: auto;
    margin-left: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }
}