.container {
	height: 100%;
	min-height: 1440px;
	background: #d9d9d9;
	padding: 34px 36px 38px 37px;

	&__content {
		position: relative;

		height: 933px;
		background: #fff;
		padding: 27px 40px 113px 36px;
	}

	&__heading {
		width: 300px;
		height: 44px;
		font-size: 36px;
		font-weight: 400;
		line-height: 43.57px;
		text-align: left;
		margin: 0;
		margin-bottom: 13px;
	}

	&__dealInfo {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 1040px) {
	.container {
		&__dealInfo {
			display: block;
		}
		&__content {
			height: 100%;
		}
	}
}
