.comments {
	width: 100%;
	padding-left: 63px;
	display: flex;
	flex-direction: column;
	&__newComment {
		margin-bottom: 18px;
	}
}

@media (max-width: 1040px) {
	.comments {
		margin-top: 27px;
		padding-left: 0;
	}
}
