.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 13px 37px;
}

@media (max-width: 1140px) {
	.wrapper {
		font-size: 30px;
	}
}

@media (max-width: 890px) {
	.wrapper {
		font-size: 25px;
	}
}
