.container {
	&__inputs {
		display: flex;
		flex-direction: column;
	}

	&__buttonGroup {
		position: absolute;
		margin-top: 26px;
		display: flex;
		bottom: 20px;
		right: 0;
		left: 0;
		justify-content: center;

		&.hidden {
			display: none;
		}

		&.visible {
			display: flex;
		}
	}
}
