button {
	max-width: 368px;
	width: 100%;
	height: 67px;
	border: none;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	&:disabled {
		opacity: 0.8;
	}
}

.primary {
	background: #fff;
	color: #000;
}

.active {
	background: #000000;
	color: #f2f2f2;
}

.createBtn {
	margin-bottom: 43px;
}

.cancel {
	background: #e6e6e6;
}
