.content {
	height: 100%;
	min-height: 1440px;
	background: #d9d9d9;
	padding: 64px 35px 28px 35px;

	&__createButton {
		cursor: pointer;
	}

	&__buttonGroup {
		margin: 43px 0;
		display: flex;
	}

	&__tabList {
		width: 100%;
		border-collapse: collapse;

		th {
			font-weight: normal;
		}
		tr {
			height: 85px;
			text-align: left;
			border: solid 1px #fff;
			background-color: #f0f0f0;
		}
	}
}

.table__id {
	width: 148px;
	height: 85px;
	text-align: center;
}

.table__name {
	width: 653px;
	height: 85px;
	&__th {
		text-align: center;
	}
	&__td {
		text-align-last: left;
		padding-left: 6.5%;
	}
}

.table__status {
	width: 647px;
	height: 85px;

	&__th {
		text-align: center;
	}
	&__td {
		text-align-last: left;
		padding-left: 15.5%;
	}
}

.table__creationDate {
	width: 393px;
	height: 85px;
	&__th {
		text-align: center;
	}
	&__td {
		text-align-last: left;
		padding-left: 10%;
	}
}
